/* /Pages/Shared/_Layout.cshtml.rz.scp.css */
/* Please see documentation at https://learn.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand[b-ksoyotzy7x] {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

a[b-ksoyotzy7x] {
  color: #dc8343;
}

.btn-primary[b-ksoyotzy7x] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active[b-ksoyotzy7x], .nav-pills .show > .nav-link[b-ksoyotzy7x] {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.border-top[b-ksoyotzy7x] {
  border-top: 1px solid #e5e5e5;
}
.border-bottom[b-ksoyotzy7x] {
  border-bottom: 1px solid #e5e5e5;
}

.box-shadow[b-ksoyotzy7x] {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

button.accept-policy[b-ksoyotzy7x] {
  font-size: 1rem;
  line-height: inherit;
}

.footer[b-ksoyotzy7x] {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px;
}
/* ĐỔI MÀU LỀ TRÊN (NAVBAR) */
.navbar[b-ksoyotzy7x] {
    background-color: #ff5722 !important; /* cam đỏ */
}

.navbar .nav-link[b-ksoyotzy7x],
.navbar .navbar-brand[b-ksoyotzy7x] {
    color: #ffffff !important;
}
